* {
    box-sizing: border-box;
    font-family: 'Open Sans';
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 100px;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #666;
    font-size: 0.8rem;
}

nav ul li a:hover{
    background-color: rgba(0,0,0,0.3);
}

#destaque img {
    width: 100%;
}

#estilo h2{
    text-align: center;
}

.container {
    width: 960px;
    margin: 0 auto;
}

#estilo div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#estilo div img:nth-child(1){
    width: 38%;
}

#estilo div img:nth-child(2){
    width: 57%;
}

